<h3>Create Space</h3>
<form id="spaces_form" ng-submit="createSpace(field,description,price)">
   <label for "Name">Name: </label>
   <input id="name" type="text" name="field" ng-model="field"> </input> <br>
   <label for "Name">Description: </label>
   <input id="description" type="text" name="description" ng-model="description"> </input><br>
   <label for "Name">Price: </label>
   <input id="price" type="number" name="price" ng-model="price"> </input><br>
   <input id="submit" type=submit></input>
</form>
