<form name="loginForm" novalidate ng-submit="login()" >

<div class ="alert alert-danger" ng-show="wrongCredentials">
	Wrong credentials
</div>	

	<div class="form-group" ng-class="{'has-error' : loginForm.email.$invalid && loginForm.email.$dirty, 'has-success':loginForm.email$vaild && loginForm.email.$dirty}">

	<label for="">Email</label>
	<input type="email" name="email" ng-model="user.email" required />
	<p class="help-block" ng-show="loginForm.email.$invaild && loginForm.email.$dirty && loginForm.submitted">
		Wrong email. </P>
		<label for="">Password</label>
		<input type="password" name="password" ng-model="user.password" required />
		<button type = "submit">Log in</button>
	</div>	
	</form>